# Read ARCH from .curarch if present, else default to merged
curarch_file="$(git rev-parse --show-toplevel)/experiments/.curarch"
if [ -f "$curarch_file" ]; then
  export ARCH=$(<"$curarch_file")
else
  export ARCH="merged"
fi

use flake ".#$ARCH"
